---
import Layout from "../layouts/Layout.astro";
import Comment from "../components/Comment.astro";
import { data } from "../data/commentsData";

const type = "reply";

---

<Layout title="Interactive comments section">
  <main>
    {
      data.comments.map((comment) => {
        return (
          <>
            <Comment
              userImage={comment.user.image.webp}
              username={comment.user.username}
              content={comment.content}
              createdAt={comment.createdAt}
              counter={comment.score}
            />
            {
              comment.replies.length > 0 
              && 
              <section class="replies">
                <div class="replies">
                {comment.replies.map((reply) => (
                    <Comment
                      type={type}
                      userImage={reply.user.image.webp}
                      username={reply.user.username}
                      content={reply.content}
                      createdAt={reply.createdAt}
                      counter={reply.score}
                    />
                ))}
                </div>
              </section>
            }
          </>
        );
      })
    }
  </main>
</Layout>

<style>
  main {
    margin: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  section.replies {
    margin-left: 2rem;
    border-left: 2px solid var(--color-light-gray);
    padding-left: 2rem;
  }
  div.replies {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
</style>
