---
import CommentHeader from "./CommentHeader.astro";
import CommentScore from "./CommentScore.astro";
import Content from "./Content.astro";
import Edit from "./Edit.astro";

type CommentType = "comment" | "reply";

export interface Props {
	byCurrentUser?: boolean;
	type?: CommentType;
	edit?: boolean;
	id: number;
	username: string;
	createdAt: string;
	userImage: string;
	content: string;
	counter: number;
}

const {
	byCurrentUser,
	type = "comment",
	id,
	username,
	createdAt,
	userImage,
	content,
	counter,
} = Astro.props;

---

<section class={type == "reply" ? "is-reply" : ""}>
	<CommentScore counter={counter} />
	<div data-comment>
		<CommentHeader
			username={username}
			createdAt={createdAt}
			userImage={userImage}
		/>
		<Content content={content} />
		<Edit data-edit content={content} />
	</div>
</section>

<script>
	import "../controllers/ContentController.ts";
</script>

<style>
	section,
	div,
	button {
		display: flex;
	}
	section {
		gap: 1.5rem;
		max-width: 700px;
		align-items: start;
		padding: 1.5rem;
		border-radius: 0.5rem;
		background-color: var(--color-white);
	}
	section.is-reply {
		max-width: 640px;
	}
	div {
		flex-direction: column;
		gap: 0.5rem;
	}
	section.is-reply :global(textarea) {
		width: 540px;
	}
	.hidden {
		display: none;
	}
</style>
